@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter';

    --botao-azul-efeito: #3c92fa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0; /*margem da imagem alura pro titulo e pro botao*/
}

.principal{
    background-image: url(assets/Background.png);
    background-repeat: no-repeat; /*para não fazer o efeito reflexo em baixo*/
    background-size: contain; /*todo container será completado pela imagem / não estava escontando no canto da direita*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh; /*usa 100% da tela*/
    display: grid; /*separando container em colunas/grade*/
    grid-template-columns: 50% 50%; /*dividiu a tela na metade verticalmente (colunas)*/
}

.container__caixa{
    margin: 0 6em;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px; /*arredonda as bordas*/
    padding: 1em; /*tamamho da fonte vai para padding*/
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    color: var(--branco-principal);
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 2em 0;
}

.desenvolvido{
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

@media screen and (max-width: 768px) {
    .container {
        display: block; /*para imagens ficarem uma em baixo da outra*/
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa{
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center; 
    }

    .secundario__imagem {
        width: 50vw; /*diminuiu a imagem em 50%*/
    }

    .dispositivos__lista {
        display: block; /*para imagens ficarem uma em baixo da outra / ficar em bloco*/
    }

    .rodape__lista {
        display: block;
    }
}